.terraform/
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
crash.log
.terraform.lock.hcl

build/
dist/
*.zip
terraform/.build/

__pycache__/
*.py[cod]
.venv/
venv/

.idea/
.vscode/
.DS_Store
.env
.env.*
*.pem
